body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 25vw;
    height: 40vh;
}

span {
    font-family: "Arial Black", sans-serif;
}

button {
    width: 200px;
    height: 50px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.counter {
    color: tomato;
    font-size: 5rem;
}